/* MayhemYDG/ihavenoface 4chan X v3*/
/* Some functionality of OneeChan might not work with this fork */
/* Header */
#header-bar {
  padding: 3px 4px 3px !important;
}
#header-bar a:not(.entry) {
  padding: 2px;
}
:root.top-header .is_index {
  margin-bottom: 3em;
}
:root.bottom-header .is_index {
  margin-bottom: 5em;
}
:root:not(.fixed).left-sidebar #header-bar {
  left: 0;
}
:root:not(.fixed).right-sidebar #header-bar {
  right: 0;
}
:root.bottom-header:not(.autohide) #mascot img,
:root.bottom-header:not(.autohide) #mascotprev img {
  padding-bottom: 26px !important;
}
:root.bottom-header body {
  margin-top: 0.5em;
}
#header {
  background: linear-gradient(rgb\(" + $SS.theme.headerBGColor.shiftRGB(15) + "),rgba(" + $SS.theme.headerBGColor.rgb + "," + $SS.theme.navOp + ")) !important;
}
/* Navigation */
#navlinks {
  top: 135px;
}
.backlink-container {
  padding-right: 10px;
}
/* Replies */
.inline {
  min-width: 340px;
}
:root.backlink-bottom .post {
  padding-bottom: 2px;
}
:root.backlink-bottom .backlink-container {
  position: absolute;
  bottom: 2px;
  right: 6px;
}
/* Menu */
/* Breaks with Fit Replies */
.postContainer .menu-button {
  position: absolute !important;
  left: inherit !important;
  right: inherit !important;
  padding: 1px;
  opacity: 1 !important;
}
.postContainer .backlink-container {
  margin-left: 15px;
}
:root.reply-fit-width .post .menu-button {
  margin-left: 2px;
}
 /* Quick Reply */
 #qr > div > select {
  color: " + $SS.theme.textColor.hex + " !important;
 }
#qr form > .riceCheck  {
  display: none;
}
 #qr > div {
  min-width: 240px !important;
  margin: 2px 0 2px 0;
}
#qr [type=submit] {
  width: 19%;
}
:root.qr-background #qr > div {
  display: none;
}
#qr input[type=submit] {
  height: 24px !important;
}
#qr select[data-name=thread] {
  margin: -1px 0;
  max-width: 140px;
}
#qr:not(.has-captcha) textarea {
  min-height: 115px;
}
#qr .riceCheck, 
#qr input[type=checkbox] {
  margin: 1px 4px 2px!important;
  top: 0;
}
:root.top-header .boardBanner {
  top: 22px;
}
#qr-filename {
  background: none !important;
  border: none !important;
}
#qr-file-button {
  padding-top: 3px;
  padding-bottom: 3px;
}
 .captcha-input.field {
  width: 300px;
}
#url-button {
  padding-right: 3px;
}
:root.vertical-qr #qr.autohide:not(.focus):not(:hover) select {
  max-width: 132px!important;
}
/* Bottom Controls */
.bottom-header .bottomCtrl.desktop {
  float: right;
  margin-bottom: 35px;
}
.top-header .bottomCtrl.desktop {
  float: right;
  margin-bottom: 4px;
}
/* Catalog */
.catalog-thread > .comment {
  text-align: justify;
  margin-left: 5px;
  margin-right: 5px;
}
.thread-info {
  z-index: 4;
}
#nav-links {
  margin-bottom: 12px;
}
.thumb {
  border-radius: 0 !important;
}
:root.rounded-corners .catalog-thumb {
  border-radius: 3px !important;
}
select#index-mode,
select#index-sort,
select#index-size {
  -moz-appearance: none;
  -webkit-appearance: none;
}
select#index-mode,
select#index-sort,
select#index-size {
  color: " + $SS.theme.textColor.hex + " !important;
}
select#index-mode,
select#index-sort,
select#index-size {
  border-color: " + $SS.theme.brderColor.hex + " !important;
  border: 1px solid " + $SS.theme.inputbColor.hex + " !important;
}
select#index-mode:focus,
select#index-sort:focus,
select#index-size:focus {
  border: 1px solid " + $SS.theme.linkColor.hex + " !important;
}
select#index-mode,
select#index-sort,
select#index-size {
  background: " + $SS.theme.inputColor.hex + " !important;
  transition: background .2s;
}
select#index-mode:hover,
select#index-sort:hover,
select#index-size:hover {
  background: rgb(" + $SS.theme.inputColor.hover + ") !important;
  transition: background .2s;
}
.thumb > .menu-button,
:root.yotsuba-b .thumb > .menu-button > i {
  background: " + $SS.theme.inputColor.hex + " !important;
}
/* Icons */
.closedIcon,
.stickyIcon {
  color:transparent!important;
  font-size:0!important;
  background-color:transparent!important;
  background-position:center!important;
  background-repeat:no-repeat;
  display:inline-block;
  height:0!important;
  padding-top:16px!important;
  text-indent:-9999px!important;
  vertical-align:bottom;
  width:16px!important;
}
/* Thread Closed */
.closedIcon {
  background-image:url(\"data:image/svg+xml," + $SS.theme.icons.threadClosed + "\")!important;
}
/* Thread Pinned */
.stickyIcon {
  background-image:url(\"data:image/svg+xml," + $SS.theme.icons.threadPinned + "\")!important;
}
/* Thread Watcher */
.watcher-toggler.fa.fa-bookmark-o {
  opacity: 0.3;
  padding-top: 16px!important;
  vertical-align: bottom;
  width: 16px!important;
  background-image: url(\"data:image/svg+xml," + $SS.theme.icons.star + "\") !important;
}
.watcher-toggler.fa.fa-bookmark {
  opacity: 1;
  padding-top: 18px!important;
  vertical-align: bottom;
  width: 16px!important;
  background-image: url(\"data:image/svg+xml," + $SS.theme.icons.star + "\") !important;
}
.watcher-toggler::before {
  display: none;
}
