/* loadletter 4chan X v2*/
/* Compatibility fixes for different 4chan X forks */
/* Some functionality of OneeChan might not work with this fork */
/* Quick Reply */
#qr input[type=submit] {
  height: 24px !important;
  width: 28%;
}
#qr input[type=file] {
  margin: 1px 1px;
}
.captcha-input.field {
  width: 300px;
}
.textarea {
  margin-bottom: 1px;
  margin-top: 1px;
}
#qr:not(.has-captcha) textarea {
  min-height: 115px!important;
}
:root.qr-controls #qr > .move {
  display: none;
}
:root.vertical-qr #qr.autohide:not(:hover):not(.has-focus) {
  width: 260px !important;
}
#qr > .move {
  min-width: 260px !important;
  padding: 2px 2px !important;
}
#qr .riceCheck, 
#qr input[type=checkbox] {
  float: left;
}
:root.expand-inputs #qr > form > div:nth-child(1) {
  display: flex;
}
:root.expand-inputs #qr > form > div:nth-child(1) .field {
  flex: 1;
  width: 0;
}
:root.expand-inputs #qr > form > div:nth-child(1) .field:hover,
:root.expand-inputs #qr > form > div:nth-child(1) .field:focus {
  flex: 3;
}
/* Misc */
#togglePostFormLink {
  text-align: center;
}
:root.hide-button form[name=post] > h1 {
  display: none;
}
.boardList {
  display: block;
  text-align: center;
}
#navbotright,
#boardNavDesktopFoot > .toggleCatalog {
  display: none;
}
#navtopright {
  float: none;
}
.pagelist {
  margin-bottom: 15px;
}
.navLinks.navLinksBot.desktop {
  margin-bottom: 10px;
}
.postInfo {
  padding: 0px 6px 2px;
}
#boardNavDesktop {
  color: " + $SS.theme.headerColor.hex + " !important;
  margin-bottom: 15px;
  text-align: center;
}
#boardNavDesktopFoot {
  color: " + $SS.theme.headerColor.hex + " !important;
  margin-bottom: 10px;
}
.riceCheck {
  margin: 0 3px -2px 4px !important;
}
#navlinks {
  top: 135px !important;
}
#overlay {
  z-index: 900;
}
#ihover {
  z-index: 5;
}
#qp {
  z-index: 5;
}
#updater,
#stats {
  z-index: 11;
}
#menu {
  z-index: 5;
}
:root.mascot-overlap #mascot img,
#mascotprev img {
  z-index: 4;
}
.inline,
#qp {
  padding: 0px;
}
table.flashListing {
  margin-bottom: 20px;
}
.button {
  color: " + $SS.theme.linkColor.hex + " !important;
}
.button:hover {
  color: " + $SS.theme.linkHColor.hex + " !important;
}
.container {
  margin-left: -5px!important;
}
:root:not(.reply-fit-width) .container {
  margin-right: 10px;
}
:root.show-file-info .fileText {
  display: none;
}
div.post {
  overflow: inherit;
}
div.post div.file .fileThumb {
  margin-top: 3px;
}
/* Thread Watcher */
:root.fixed-watcher #watcher {
  position: fixed !important;
}
#watcher > .move {
  text-align: center;
  padding-bottom: 5px;
}
.favicon {
  height: 0!important;
  background-color: transparent!important;
  background-position: center!important;
  background-repeat: no-repeat;
  display: inline-block;
  padding-top: 16px!important;
  vertical-align: bottom;
  width: 16px!important;
}
.favicon[src$='ico'] {
  background-image: url(\"data:image/svg+xml," + $SS.theme.icons.star + "\") !important;
}
.favicon[src^='data'] {
  opacity: 0.3;
  background-image: url(\"data:image/svg+xml," + $SS.theme.icons.startwo + "\") !important;
}
/* Menu */
.menu_button {
  height: 0;
  overflow: hidden; 
  padding-top: 12px;
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0);
  background-position: 50% 50%;
  transform: rotate(90deg);
  background-image: url(\"data:image/svg+xml," + $SS.theme.icons.menuButton + "\")!important;
}
.menu_button:hover {
  opacity: 1;
}
:root.reply-fit-width .menu_button {
  float: right;
}
:root.reply-fit-width .post .menu_button {
  opacity: 0;
}
:root.reply-fit-width .post:not(:hover) .menu_button {
  transition: opacity .3s ease-out 0s !important;
}
:root.reply-fit-width .post:hover .menu_button {
  opacity: 1;
  transition: opacity .3s ease-in .1s !important;
}
:root.reply-fit-width div.hide_reply_button.stub > a.menu_button,
:root.reply-fit-width div.hide_thread_button.hidden_thread > a.menu_button {
  float: none !important;
}
